<!-- {{foundDrivers | json}} -->
<div class="container">
  <mat-label *ngIf="notFound">Drivers Not Found!</mat-label>
  <mat-label *ngIf="foundDrivers.length > 0" style="padding-top: 20px;">Riders for you: </mat-label>
  <mat-nav-list *ngIf="foundDrivers.length > 0">
    <mat-list-item *ngFor="let driver of foundDrivers">
      <a matLine>{{driver.firstName}} {{driver.lastName}}</a>
      <button mat-button color="primary" (click)="openDialog(driver.id)"><span class="centerize">Request
          Ride</span></button>
    </mat-list-item>
  </mat-nav-list>
</div>