<h3 style="font-weight: 900;">Confirm Ride</h3>
<!-- <div id="map"> -->
<!-- </div> -->

<google-map height="400px" width="750px" [center]="center" [zoom]="zoom" (mapClick)="addMarker($event)"
  (mapMousemove)="move($event)" (mapRightclick)="removeLastMarker()">
  <map-marker #marker *ngFor="let markerPosition of markerPositions" [position]="markerPosition"
    [options]="markerOptions" (mapClick)="openInfoWindow(marker)"></map-marker>
  <map-info-window>Info Window content</map-info-window>
</google-map>

<div>Latitude: {{display?.lat}}</div>
<div>Longitude: {{display?.lng}}</div>

<button mat-raised-button color="primary" (click)="openSnackBar('Ride Confirmed!', 'DISMISS')">Confirm</button>