.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-red-width {
  width: 40%;
  margin-left: 20px;
}

.example-full-width {
  width: 100%;
}

.centerize{
  display: flex;
  text-align: center;
  justify-content: center;
}

mat-label {
  font-size: large;
}